/*
 * SPDX-FileCopyrightText: 2021-2022 Adam Tauber, <asciimoo@gmail.com> et al.
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

%clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

%omnomTitle {
    span{
        font-family: 'Dosis';
        font-size: $big-font;
        font-weight: 700;
        text-transform: uppercase;
    }
    .text--primary {
           color: $primary-color;         
    }
}

%absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%verticalCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

%verticalAndHorizontalCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%backgroundShadow {
    box-shadow: 0rem .3rem .5rem 0rem rgba(0, 0, 0, 0.14);
}

%backgroundDropShadow {
    filter: drop-shadow(0rem .3rem .5rem rgba(0, 0, 0, 0.14));
}

%insideFlexBox {
    @include respond(tab-port) {
        position: relative;
        top: auto;
        left: auto;
    }
}