/*
 * SPDX-FileCopyrightText: 2021-2022 Adam Tauber, <asciimoo@gmail.com> et al.
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.message {
    .message-body {
        span {
            font-size: $extra-small-font;
        }
    }
}
.field-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0.75rem;
    margin-bottom: 0;
    align-items: center;
    width: 100%;
    
    .label, .label:not(:last-child) {
        margin-bottom: 0;
    }
}