omnom
omnom.exe
static/data/
sass/node_modules/
ext/node_modules/
ext/build/
omnom_ext_chrome.zip
omnom_ext_firefox.zip
omnom_ext_src.zip
config.yml
db.sqlite3
public.pem
private.pem
ext/omnom-ext.js
ext/omnom-ext.js.map
ext/src/manifest.json.license
