# SPDX-FileCopyrightText: 2021-2022 Adam Tauber, <asciimoo@gmail.com> et al.
#
# SPDX-License-Identifier: AGPL-3.0-only

[submodule "sass/bulma"]
	path = sass/bulma
	url = https://github.com/jgthms/bulma.git
[submodule "sass/bulma-switch"]
	path = sass/bulma-switch
	url = https://github.com/Wikiki/bulma-switch.git
