
  /* dosis-700 - latin */
    @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: url('../webfonts/dosis-v22-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/dosis-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/dosis-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/dosis-v22-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/dosis-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */         
  }

  /* dosis-100 - latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 250;
    src: url('../webfonts/Dosis-ExtraLight.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/Dosis-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Dosis-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/Dosis-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Dosis-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */         
  }

    /* dosis-300 - latin */
    @font-face {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 300;
      src: url('../webfonts/Dosis-Regular.eot'); /* IE9 Compat Modes */
      src: local(''),
           url('../webfonts/Dosis-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../webfonts/Dosis-Regular.woff2') format('woff2'), /* Super Modern Browsers */
           url('../webfonts/Dosis-Regular.woff') format('woff'), /* Modern Browsers */
           url('../webfonts/Dosis-Regular.ttf') format('truetype'), /* Safari, Android, iOS */         
    }

  /* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../webfonts/roboto-v29-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/roboto-v29-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/roboto-v29-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/roboto-v29-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */         
  }
  /* roboto-300 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../webfonts/roboto-v29-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/roboto-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/roboto-v29-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/roboto-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */         
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */         
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../webfonts/roboto-v29-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/roboto-v29-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/roboto-v29-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/roboto-v29-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */         
  }