#popup {
    height: 99%;
}

.omnom-popup {

    &__container {
        input[type="text"], input:not([type]), textarea {
            padding: 0.4em;
            width: 100%;
        }

        .field {
            margin-bottom: 0.4em;
            width: 100%;
        }
        width: 22rem;
        padding: 0.2rem 1.5rem 0.5rem 1.5rem;
        font-size: 100% !important;

        h2 {
            font-size: $small-font;
            font-weight: 800;
            margin-bottom: 0.75rem;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @extend %omnomTitle;
    }

    &__form {
      margin-bottom: 0.5em;

        .tags-input {
            margin-bottom: 0.5rem;
        }
        .chip-control {
          margin: 0.4em;
          padding: 0.2em;
          display: inline-block;
          border: 1px solid $primary-color;
        }
    }

    &__controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .button {
            border-color: $secondary-color;
            color: $secondary-color;
        }
    }

    &__submit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0.75rem;

        .button.is-primary,
        .button.is-primary:hover {
            background-color: $primary-color;
            color: $color-white;
        }
    }
}
