html {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;
    // This defines what 1rem is
    font-size: 100%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        // width < 1200?
        font-size: 75%;
    }

    @include respond(tab-port) {
        // width < 900?
        font-size: 62.5%;
    }

    @include respond(big-desktop) {
        font-size: 100%;
    }
}

input[type=checkbox] {
  transform: scale(2);
  margin: 0.4em !important;
}

#omnom-webapp {
    height: 100% !important;
    display: flex;
    flex-flow: column;
    overflow: auto;
    background-color: #f1f2ee;

    .navbar-item,
    .navbar-link {
        padding: 0rem 1rem;
        margin: 0 0.5rem;
        line-height: 1rem;
        color: $color-white !important;
    }
    a.navbar-item:hover {
      background: rgba(90,90,90,0.3);
    }

    .navbar {
        a {
            color: $color-white !important;
            font-weight: 500;
        }
    }
}

summary {
    outline: 0;
    cursor: pointer;
}

#nav-toggle-state {
    display: none;
}

#nav-toggle-state:checked~.navbar-menu {
    display: block;
}
.navbar-burger span {
    background-color: $color-white !important;
}

.bd-main-container {
    background: $color-white !important;
    padding: 1em;
}

.webapp__main-container {
    padding-top: 0 !important;
}


a.navbar-item.is-active {
    background-color: rgba(200,200,200,0.3) !important;
    color: $color-white !important;
    border-radius: 0.3em;
}

.has-padding-top-50 {
    padding-top: 50px !important;
}

.has-padding-bottom-50 {
    padding-bottom: 50px !important;
}

.color-bg {
    background: linear-gradient(to right, #f3f7ff, #ddfffa) !important;
}

.border-bottom {
    border-bottom: 1px solid #888888;
}

.shadow-bottom {
    box-shadow: 0px 1px 4px 1px #d9d9d9
}

.description {
    font-size: 1.3em;
}

.s-title {
    margin-bottom: 0 !important;
}

.is-transparent {
    background-color: transparent !important;
}

.pure-list {
    list-style: none;
}

.ml-3 {
    margin-left: 0.75rem;
}

iframe {
    flex-grow: 1;
}

.snapshot-iframe {
  border-top: 0.4em solid $primary-color;
  background: white;
}

.navbar {
    position: sticky !important;
    top: 0;
    &__logo {
        @extend %omnomTitle;
        margin-right: 3rem;
        margin-left: 2rem;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.my-bookmarks {
    &__section-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: 0.7rem;
        color: $secondary-color;
        margin-bottom: 1rem;

        i {
            font-size: 1rem;
        }
    }

    &__search-params {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1;

        .field-row,
        .field:not(:last-child) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__query {
        flex: 3;
        min-width: 15rem;
    }

    &__advanced-search {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 6rem;
        font-size: 1rem;

        .label {
            font-weight: 400;
        }
    }

    &__h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    &__advanced-content {
        border-bottom: 1px solid #b7b8b8;
        padding-bottom: 2rem;
        padding-left: 1rem;
    }
}

.bookmark {
    &__container {
        flex-direction: column;
        padding: 0;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        flex-wrap: nowrap;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .title {
            color: $primary-color;
            font-size: 1.2rem;
            a:hover {
              text-decoration: underline;
            }
        }
    }

    &__favicon {
        height: 2.3rem;
        width: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.7rem;

        .icon {
            width: 2.3rem;
            height: 2.3rem;
        }
    }

    &__tags {
        .tag:not(body).is-info {
            background-color: $color-red;
            border-radius: 0;
            color: $color-white;
        }
    }

    &__more-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        gap:1rem;

        div {
            width: 100%;
            flex: 1;
            min-width: 15rem;
        }
        summary {
          font-size: 1.5em;
          font-weight: bold;
          margin-bottom: 0.6666em;
          padding-bottom: 0;
        }
        details {
            width: 100%;
            font-size: 0.7rem;
            color: $secondary-color;

            i {
                font-size: 1rem;
            }
        }
    }

    &__snapshots {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__actions {
        text-align: right;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;

        @include respond('tab-port'){
            text-align: left;
            justify-content: flex-start;
        }

        i {
            margin-left: 1rem;
            color: $color-gray;
        }

        a {
            color: $color-gray;
        }
    }

    &__note {
        color: #3d3e3e;
        font-size: 1rem;
        font-weight: 100;
    }

    &__snapshot-count {
        font-weight: 300;
    }
}

.snapshot {
    &__date {
        color: $secondary-color;
        font-size: 1rem;
        font-weight: 100;
        margin-right: 1rem;
    }

    &__title {
        color: $color-orange;
        text-decoration: underline;
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }

    &__actions {
        text-align: right;
    }

    &__delete {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.webapp {
    &__content {
        height: 100%;
        display: flex;
        flex-flow: column;
    }
}


.next-section {
    font-size: 2rem;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2rem
}

.hero-body {
    background-color: $alternative-color;
	background: linear-gradient(90deg, $alternative-color 10%, rgba(52,121,134,1) 100%);
    h1, h2, h3, h4, p {
        color: $color-white;
    }
    p.big {
        font-size: 2em;
    }
    img.logo {
        max-height: 10em;
    }
}


.extension-button, .extension-button:hover {
    i{
        display: block;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    margin: 2em;
    border-radius: 12px;
    cursor: pointer;
    background-color: $color-red;
    color: $color-white;
    border: none;
    font-weight: 400;
    padding: 0rem;
    width: 10rem;
    height: 6rem;
}

.footer {
    margin-top: auto;
    a, a:hover {
        color: $color-orange;
    }
    a:hover {
        text-decoration: underline;
    }
}

.navbar{
    min-height: 4.8rem !important;
    background-color: $alternative-color;
	background: linear-gradient(90deg, $alternative-color 10%, rgba(52,121,134,1) 100%);
}

.navbar-menu {
    @include respond('tab-port'){
        position: absolute;
        top: 3.5rem;
        left:13rem;
        background-color: $alternative-color;
    }
}
.resources {
  word-break: break-all;
}
.resources .tag {
  margin: 0 1em;
}
