#omnom-webapp {
    height: 100%!important;
    display: flex;
    flex-flow: column;
    overflow: auto;
    .navbar-item, .navbar-link{
        padding: 0rem 0.75rem;
        margin: 0 1rem;
        line-height: 1rem;
    }
    a{
        color: $secondary-color;
        font-weight: 500;
    }

    .bd-main-container{
        min-height: 66vh;
        background-color:#fafafa;
    }
}
summary {
    outline: 0;
    cursor: pointer;
}
#nav-toggle-state {
  display: none;
}
#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}
a.navbar-item.is-active {
    background-color: $secondary-color !important;
    color: $color-white !important;
    border-radius: 8px;
}

.has-padding-top-50 {
    padding-top: 50px!important;
}
.has-padding-bottom-50 {
    padding-bottom: 50px!important;
}
.color-bg {
    background: linear-gradient(to right, #f3f7ff, #ddfffa) !important;
}
.border-bottom {
    border-bottom: 1px solid #888888;
}
.shadow-bottom {
    box-shadow: 0px 1px 4px 1px #d9d9d9
}
.description {
    font-size: 1.3em;
}
.s-title {
    margin-bottom: 0 !important;
}
.is-transparent {
    background-color: transparent !important;
}
.pure-list {
    list-style: none;
}
.ml-3 {
    margin-left: 0.75rem;
}
.iframe-box {
    display: flex;
    flex-flow: column;
    height: 100%;
    border-top: 4px solid pink;
    overflow: hide;
}
.iframe-container {
    flex: 1 1 auto;
}
iframe {
    height: 100%;
}

.navbar {
    &__logo{
        @extend %omnomTitle;
        margin-right: 8rem;
        margin-left: 2rem;
    }
    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
