html {
    width: 100%;
    height: 100%;
    overflow: auto;
    min-height: 100%;
    // This defines what 1rem is
    font-size: 100%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        // width < 1200?
        font-size: 85%;
    }

    @include respond(tab-port) {
        // width < 900?
        font-size: 75%;
    }

    @include respond(desktop) {
        font-size: 100%;
    }
}

@include respond(phone) {
  .bookmark-list {
    padding-left: 2em;
  }
  .bookmark-wrapper {
    padding: 2em;
  }
  .bookmark__actions details > div {
    left: 0;
  }
}

#omnom-webapp {
    height: 100%;

    .navbar-item,
    .navbar-link {
        padding: 0rem 1rem;
        margin: 0 0.5rem;
        line-height: 1rem;
        color: var(--color-menu-white) !important;
    }
    a.navbar-item:hover {
      background: rgba(90,90,90,0.3);
    }

    .navbar {
        display: flex;
        z-index: 3000;
        a {
            color: var(--color-menu-white) !important;
            font-weight: 500;
        }
    }
}

.fullscreen-wrapper {
  background: var(--color-white);
  padding: 2em 1em;
  flex: 1 0 auto;
}

summary {
    outline: 0;
    cursor: pointer;
}

#nav-toggle-state {
    display: none;
}

#nav-toggle-state:checked~.navbar-menu {
    display: block;
    width: 100%;
    background: transparent;
}

#nav-toggle-state:checked~.navbar-menu .navbar-item {
  padding: 1em;
}
.navbar-burger span {
    background-color: var(--color-menu-white) !important;
}

.submenu {
  background: rgba(255,255,255,0.2);
  color: var(--color-menu-white);
  padding: 0.4em 3em;
  li {
    display: inline;
    padding: 0 0.4em;
    margin: 0 0.4em;
  }
  .is-active {
    border-bottom: 1px solid var(--color-menu-white);
  }
}

.bd-main-container {
    background: var(--color-white) !important;
    padding: 1em;
}

.webapp__main-container {
    flex: 1 0 auto;
    padding-top: 0 !important;
}


a.navbar-item.is-active {
    background-color: rgba(200,200,200,0.3) !important;
    color: var(--color-white) !important;
    border-radius: 0.3em;
}

.has-padding-top-50 {
    padding-top: 50px !important;
}

.has-padding-bottom-50 {
    padding-bottom: 50px !important;
}

.color-bg {
    background: linear-gradient(to right, #f3f7ff, #ddfffa) !important;
}

.border-bottom {
    border-bottom: 1px solid #888888;
}

.shadow-bottom {
    box-shadow: 0 0.1em 1em 0.1em var(--color-shadow);
}

.description {
    font-size: 1.3em;
}

.s-title {
    margin-bottom: 0 !important;
}

.is-transparent {
    background-color: transparent !important;
}

.pure-list {
    list-style: none;
}

.ml-3 {
    margin-left: 0.75rem;
}

iframe {
    flex-grow: 1;
}

.snapshot-iframe {
  border-top: 0.4em solid var(--primary-color);
  background: white;
  width: 100%;
  height: 100%;
}

.iframe-diff-header {
  h2 {
    padding: 1em 1em 0 1em;
  }
  background: var(--color-white);
  position: sticky;
  top: 3.7rem;
  border-bottom: 0.4em solid var(--primary-color);
  .columns {
    width: 100%;
    .column {
      padding: 0 !important;
    }
  }
}

.iframe-diff-wrapper {
  background: var(--color-white);
  padding: 0;
  margin: 0;
  flex: 1 0 auto;
  .columns {
    width: 100%;
    .column:first-child iframe {
      border-right: 0.4em solid var(--primary-color);
    }
    .column {
      padding: 0 !important;
      iframe {
        display: block;
        overflow: hidden;
        background: white;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.navbar {
    align-self: self-start;
    top: 0;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    &__logo {
        @extend %omnomTitle;
        margin-right: 3rem;
        margin-left: 2rem;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(90deg, var(--alternative-color) 10%, rgba(52,121,134,1) 100%);
    }
}

.webapp {
  &__content {
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.my-bookmarks {
    &__section-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: 0.7rem;
        color: var(--secondary-color);
        margin-bottom: 1rem;

        i {
            font-size: 1rem;
        }
    }

    &__search-params {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1;

        .field-row,
        .field:not(:last-child) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__query {
        flex: 3;
        min-width: 15rem;
    }

    &__advanced-search {
        font-size: 1rem;

        .label {
            font-weight: 400;
        }
    }

    &__h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    &__advanced-content {
        border-bottom: 1px solid #b7b8b8;
        padding-bottom: 2rem;
        padding-left: 1rem;
    }
}

.bookmark {
    &__container {
        flex-direction: column;
        padding: 0;
        margin-bottom: 0 !important;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        gap: 0;
        flex-wrap: wrap;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .title {
            color: var(--primary-color);
            font-size: 1.2rem;
            a:hover {
              text-decoration: underline;
            }
        }
    }

    &__favicon {
        height: 2.3rem;
        width: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.7rem;

        .icon {
            width: 2.3rem;
            height: 2.3rem;
        }
    }

    &__tags {
        .tag:not(body) {
          height: 1.4em;
        }
    }

    &__more-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        gap:1rem;

        div {
            width: 100%;
            flex: 1;
            min-width: 15rem;
        }
        summary {
          font-size: 1.5em;
          font-weight: bold;
          margin-bottom: 0.6666em;
          padding-bottom: 0;
        }
        details {
            width: 100%;
            font-size: 0.7rem;
            color: var(--secondary-color);

            i {
                font-size: 1rem;
            }
        }
    }

    &__snapshots {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__actions {
        text-align: right;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;

        @include respond('tab-port'){
            text-align: left;
            justify-content: flex-start;
            min-width: 100%;
            padding-left: 3em;
        }

        i, a {
            color: var(--color-gray);
        }

        a {
            margin-left: 1rem;
        }
        details {
          position: relative;
          text-align: left !important;
        }
        details > summary {
          font-size: 0.8em;
        }
		details[open] summary::before {
		  content: "";
		  width: 100vw;
		  height: 100vh;
		  position: fixed;
		  top: 0;
		  left: 0;
		  cursor: auto;
		}
        details > div {
          position: absolute;
          top: 100%;
          right: 0;
          background-color: var(--color-white);
          min-width: 20em;
          padding: 1em;
          z-index: 1000;
          border: 1px solid var(--color-gray);
        }
    }

    &__note {
        color: #3d3e3e;
        font-size: 1rem;
        font-weight: 100;
    }

    &__snapshot-count {
        font-weight: 300;
    }
}

.snapshot {
    &__date {
        color: var(--secondary-color);
        font-size: 1rem;
        font-weight: 100;
        margin-right: 1rem;
    }

    &__title {
        color: var(--color-orange);
        text-decoration: underline;
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }

    &__actions {
        text-align: right;
    }

    &__delete {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
}


.next-section {
    font-size: 2rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2rem
}

.hero-body {
    background-color: var(--alternative-color);
	background: linear-gradient(90deg, var(--alternative-color) 10%, rgba(52,121,134,1) 100%);
    h1, h2, h3, h4, p {
        color: var(--color-white);
    }
    h2 {
      font-size: 5em;
    }
    p.big {
        font-size: 2em;
    }
    img.logo {
        max-height: 10em;
    }
}


.extension-button, .extension-button:hover {
    i{
        display: block;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    margin: 2em;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--color-red);
    color: var(--color-white);
    border: none;
    font-weight: 400;
    padding: 0rem;
    width: 10rem;
    height: 6rem;
}

.footer {
    flex-shrink: 0;
    a, a:hover {
        color: var(--color-orange);
    }
    a:hover {
        text-decoration: underline;
    }
}

.navbar{
    background-color: var(--alternative-color);
	background: linear-gradient(90deg, var(--alternative-color) 10%, rgba(52,121,134,1) 100%);
}
.resources {
  word-break: break-all;
}
.resources .tag {
  margin: 0 1em;
}

.imgdiff {
  margin-bottom: 1em;
  display: inline-block;
  img {
    margin: 1em;
    max-width: 80%;
    min-width: 4em;
  }
}
.is-maxheight {
  height: 100%;
}
.landing-features {
  margin-top : 4em;
  .box {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
  }
  header {
    font-size: 3em;
    margin: 0.6em;
  }
  .icon {
    margin: 0.2em;
    font-size: 3em;
  }
  .content {
    font-size: 1.5em;
  }
}
.collections {
  margin-right: 0.5em;
  ul {
    margin-inline-start: 0.5em;
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
  li {
    list-style: none;
  }
}
.is-muted-primary {
  background-color: var(--primary-color-light);
}
.tag.is-grey {
  background-color: var(--color-light-gray);
}
.rss {
  max-width: 60em;
  h1, h2, h3, h4, h5 {
    margin-top: 1em;
  }
  p {
    text-align: justify;
  }
  img {
    margin: 1em;
  }
}
// activitypub feed items
.ap {
  max-width: 50em;
  h1, h2, h3, h4, h5 {
    margin-top: 0.4em;
  }
  img {
    margin: 1em;
  }
}
#search-input {
  background: rgba(0, 0, 0, 0.2);
  color: var(--color-menu-white);
}
#search-input::placeholder {
  color: var(--color-menu-white);
  opacity: 0.6;
}
.navbar a:focus-visible, .navbar input:focus-visible {
  outline: 2px solid blue;
}
