#omnom-webapp {
    height: 100% !important;
    display: flex;
    flex-flow: column;
    overflow: auto;
    background-color: #f1f2ee;

    .navbar-item,
    .navbar-link {
        padding: 0rem 1rem;
        margin: 0 0.5rem;
        line-height: 1rem;
    }

    nav {
        a {
            color: $secondary-color;
            font-weight: 500;
        }
    }
}

summary {
    outline: 0;
    cursor: pointer;
}

#nav-toggle-state {
    display: none;
}

#nav-toggle-state:checked~.navbar-menu {
    display: block;
}

.bd-main-container {
    background: $color-white !important;
    padding: 1em;
    padding-top: 3em;
}

.webapp__main-container {
    padding-top: 0 !important;
}


a.navbar-item.is-active {
    background-color: $secondary-color !important;
    color: $color-white !important;
    border-radius: 8px;
}

.has-padding-top-50 {
    padding-top: 50px !important;
}

.has-padding-bottom-50 {
    padding-bottom: 50px !important;
}

.color-bg {
    background: linear-gradient(to right, #f3f7ff, #ddfffa) !important;
}

.border-bottom {
    border-bottom: 1px solid #888888;
}

.shadow-bottom {
    box-shadow: 0px 1px 4px 1px #d9d9d9
}

.description {
    font-size: 1.3em;
}

.s-title {
    margin-bottom: 0 !important;
}

.is-transparent {
    background-color: transparent !important;
}

.pure-list {
    list-style: none;
}

.ml-3 {
    margin-left: 0.75rem;
}

iframe {
    flex-grow: 1;
}

.navbar {
    position: sticky !important;
    top: 0;
    &__logo {
        @extend %omnomTitle;
        margin-right: 3rem;
        margin-left: 2rem;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.my-bookmarks {
    &__section-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: 0.7rem;
        color: $secondary-color;
        border-bottom: 1px solid $tertiary-color;
        margin-bottom: 1rem;

        i {
            font-size: 1rem;
        }
    }

    &__search-params {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1;

        .field-row,
        .field:not(:last-child) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__query {
        flex: 3;
        min-width: 15rem;
    }

    &__advanced-search {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 6rem;
        font-size: 1rem;

        .label {
            font-weight: 400;
        }
    }

    &__h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    &__advanced-content {
        border-bottom: 1px solid #b7b8b8;
        padding-bottom: 2rem;
        padding-left: 1rem;
    }
}

.bookmark {
    &__container {
        flex-direction: column;
        border-left: 0.75rem #b8ddee solid;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .title {
            color: $primary-color;
            font-size: 1.2rem;
        }
    }

    &__favicon {
        height: 2.3rem;
        width: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.7rem;

        .icon {
            width: 2.3rem;
            height: 2.3rem;
        }
    }

    &__tags {
        .tag:not(body).is-info {
            background-color: $color-red;
            border-radius: 0;
        }
    }

    &__more-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-top: 1rem;
        flex-wrap: wrap;
        gap:1rem;

        div {
            width: 100%;
            flex: 1;
            min-width: 15rem;
        }
    }

    &__snapshots {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__actions {
        text-align: right;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;

        @include respond('tab-port'){
            text-align: left;
            justify-content: flex-start;
        }
        
        i {
            margin-left: 1rem;
            color: $color-gray;
        }

        a {
            color: $color-gray;
        }
    }

    &__note {
        color: #3d3e3e;
        font-size: 1rem;
        font-weight: 100;
    }

    &__snapshot-count {
        font-weight: 300;
    }
}

.snapshot {
    &__container {
    }
    &__date {
        color: $secondary-color;
        font-size: 1rem;
        font-weight: 100;
        margin-right: 1rem;
    }

    &__title {
        color: $color-orange;
        text-decoration: underline;
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }

    &__actions {
        text-align: right;
    }

    &__delete {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.webapp {
    &__content {
        height: 100%;
        display: flex;
        flex-flow: column;
    }
}

.landing-page {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    &__hero{
        background-color: $alternative-color;
        min-height: 33rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__content {
        background-color: $primary-color-dark;
        flex: 3;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__menu{
        background-color: $alternative-color-light;
        height: 4.8rem;
        width: 70%;
        justify-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__headline {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex:1;
        width: 70%;
        padding-right: 7rem;
        padding-top: 5rem;
    }
    &__title {
        width: 47%;
        h1{
            font-size: 2.6rem;
            line-height: 3rem;
            font-weight: 700;
            font-family: 'Dosis';
            margin-bottom: 1.5rem;
        }
        .button, .button:hover {            
            border-radius: 0;
            background-color: $color-red;
            color: $color-white;
            border: none;
            font-size: 1.2rem;
            text-transform: uppercase;
            padding: 1.7rem 4.4rem;
            font-weight: 800;
        }
    }
    &__menu-item {
        margin: 0 3rem;
        font-size: 1.8rem;
        font-weight: 300;
        font-family: 'Dosis';
        cursor: pointer;
    }
    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        width: 70%;
    }
    &__article {
        height: 30rem;        
        display: flex;
        flex-direction: row;
        align-items: flex-start;        
        padding: 3rem;
    }
    &__pic{
        flex:1;
    }
    &__text {
        flex:1;
        font-family: 'Dosis';
        h2{
            font-size: 2.6rem;
            text-transform: uppercase;
            font-weight: 700;
        }
        h3{
            margin: 1rem 0;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        p{
            font-size: 1.2rem;
        }
        color: $color-black;
    }
    a, a:hover{
        text-decoration: none;
        color: $color-white;
    }
}

.next-section {
    font-size: 2rem;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2rem
}

.extension-button, .extension-button:hover {
    i{
        display: block;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    border-radius: 12px;
    cursor: pointer;
    background-color: $color-red;
    color: $color-white;
    border: none;        
    font-weight: 400;
    padding: 1rem;
    width:6rem;
    height: 6rem;
}

.footer {
    margin-top: auto;
    a, a:hover {
        color: $color-orange;
    }
    a:hover {
        text-decoration: underline;
    }
}

.navbar{
    min-height: 4.8rem !important;
}

.navbar-menu {
    @include respond('tab-port'){
        position: absolute;
        top: 3.5rem;
        left:13rem;
    }
}
