// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-vertical-mini: 1rem;
$gutter-horizontal: 6rem;

//COLORS
$base-color-grey: #3D3735;
$base-color-grey-light: #8b8b8b;
$base-color-grey-lighter: rgba(52, 52, 52, 0.3);
$base-color-grey-lightest: #ede3df;
$base-color-pink-light: #E7CFC8;
$base-color-pink:#E6C6BC;
$secondary-color-grey: #b3bdba;
$secondary-color-grey-light: #bfcac7;
$secondary-color-grey-dark: #98a19d;
$color-white: #fff;
$color-black: #000;

//FONT SIZES
$small-font: 1.5rem;
$normal-font: 2rem;
$big-font: 3.5rem;
$large-font: 6rem;
$phone-large: 5rem;
$phone-mini: 4.5rem;