*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

html {
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }
}
