*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

html {
    scroll-behavior: smooth;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }
}