name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: read


jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
          args: --timeout=5m
          skip-cache: false

