name: Release binaries

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    name: GoReleaser build
    runs-on: ubuntu-latest
    container:
      image: goreleaser/goreleaser-cross:v1.25.5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5

        # Mark the checkout as 'safe' despite being owned by `root`
      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: git config --global --add safe.directory "$(pwd)"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@master
        with:
          version: latest
          args: release --clean
          workdir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}

      - name: Upload assets
        uses: actions/upload-artifact@v4
        with:
          name: omnom
          path: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}
